.Books-space {
    position: absolute;
    top: 0;
    left: 0;
    height: 87%;
    width: 98%;
    margin-top: 80px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de center a flex-start */
    overflow: hidden;
}

.Books-espacio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.Books-columns {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--fondooscuro);
    border-radius: 20px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px 10px;
    padding-left: 15px;
    padding-top: 10px;
    
}

.Books-cards {
    border: 1px solid var(--black);
    padding: 8px;
    background-color: var(--fondo);
    border-radius: 8px;
    height: 320px;
    width: 160px;
    text-align: center;
}