.Setting-espacio {
  position: absolute;
  top: 0;
  left: 0;
  height: 87%;
  width: 98%;
  margin-top: 80px;
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.Settings-space {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.Settings-columns {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: var(--fondo);
}

.Settings-left-column {
  flex: 7;
  background-color: var(--fondooscuro);
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Settings-top {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Settings-input,
.Settings-select {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.Settings-bottom{
  flex: 1;
  padding-top: 15px;
  border-radius: 8px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 15px;
}

.Settings-card {
  background-color: var(--fondo);
  color: var(--letters);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  min-width: 180px;
  height: 90px;
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

.Settings-dcard {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.Settings-right-column {
  flex: 3;
  background-color: var(--fondooscuro);
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Settings-dats {
  font-size: 30px;
  padding-left: 30px;
}

.Settings-input-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Settings-input-group input,
.Settings-input-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin: 8px 0;
  background: white;
  appearance: none;
  cursor: pointer;
}

.Settings-botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
}

.Settings-button-submit,
.Settings-button-back,
.Settings-button-clear {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--terracota);
  color: white;
  transition: background-color 0.3s ease;
}

.Settings-button-back:hover,
.Settings-button-clear:hover{
  opacity: 0.8 !important;
  transform: scale(1.05);
}

.Settings-button-submit:hover {
  opacity: 0.8 !important;
  transform: scale(1.05);
}

.Settings-card-inactive {
  background-color: #444;
  color: #bbb;
  opacity: 0.7;
}

.Settings-alert-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.Settings-alert-box.success {
  background-color: #4caf50;
}

.Settings-alert-box.error {
  background-color: #f44336;
}