:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--letters);
  background-color: var(--fondo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/

  --letters: #333333;
  --fondo: #F4ECDC;
  --fondooscuro: #E5DDCB;
  --botones: #bdb6a7;
  --terracota: #B5651D;
  --btnleve: #e37e25;
  --black: #000000;
  
}

body {
  background-color: var(--fondo);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: var(--letters);
  font-size: 5em;
  line-height: 1.1;
}

