/* src/index.css */
:root {
  --letters: #333333;
  --fondo: #F4ECDC;
  --fondooscuro: #E5DDCB;
  --botones: #bdb6a7;
  --terracota: #B5651D;
  --btnleve: #e37e25;
  --black: #000000;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo);
  display: flex;
}